In [10]:
import os
import numpy as np
np.random.seed(42)
import pandas as pd

In [11]:
DATA_PATH = os.path.abspath(
    r"C:\Users\Jan\Dropbox\_Programmieren\UdemyML\Chapter13_CaseStudies\CaseStudyIncome\adult.xlsx"
)

In [12]:
df = pd.read_excel(DATA_PATH)

In [13]:
print(df.columns)

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [14]:
print(df.dtypes)

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
gender            object
hours-per-week     int64
native-country    object
income            object
dtype: object

In [15]:
print(df.shape, df.size)

(48842, 11) 537262

In [16]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K

In [17]:
for col in df.columns:
    print(col, " Number of categories: ", len(df[col].value_counts()))

age  Number of categories:  74
workclass  Number of categories:  9
education  Number of categories:  16
marital-status  Number of categories:  7
occupation  Number of categories:  15
relationship  Number of categories:  6
race  Number of categories:  5
gender  Number of categories:  2
hours-per-week  Number of categories:  96
native-country  Number of categories:  42
income  Number of categories:  2